<section class="bg-primary section-container" id="courses">
    <div class="container">
        <div class="row">
            <div class=" section-content text-center">
                <h2 class="section-heading">Bootcamp and Advanced programs</h2>
                <hr class="light">
                <p class="text-faded">The real-time data bootcamp helps you kickstart your journey into the world of Data and the Advanced program dives deep into building real-time data pipelines and data streaming applications with the added essence of Generative AI!</p>
                <div><a href="/courses" class="btn btn-default btn-xl">Know More</a></div>
            </div>
        </div>
    </div>
</section>
