<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "EducationalOrganization",
  "name": "Data + AI Academy",
  "url": "{{ site.url }}/",
  "logo": "{{ '/img/Data+AI.png' | absolute_url }}",
  "sameAs": [
    "https://www.linkedin.com/company/dataplusai-academy/"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+91-7411527327",
    "email": "enroll@dataplusai.academy",
    "contactType": "admissions"
  },
  "address": [
    {
      "@type": "PostalAddress",
      "streetAddress": "232, 9th Main Rd, HRBR Layout 1st Block, Kalyan Nagar",
      "addressLocality": "Bengaluru",
      "postalCode": "560043",
      "addressCountry": "IN"
    },
    {
      "@type": "PostalAddress",
      "streetAddress": "V4 Complex, Uttarahalli Main Rd, Simhadri Layout, Uttarahalli Hobli",
      "addressLocality": "Bengaluru",
      "postalCode": "560061",
      "addressCountry": "IN"
    }
  ]
}
</script>
