---
layout: default
---
  
  <div class="course-detail-container">
    <div class="container course-detail">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white">{{ page.title }}</h1>
          <h3 class="text-white">{{ page.subtitle }}</h3>
    
          <div class="row overview">
            <div class="col-md-4">
              <div class="panel panel-info">
                <div class="panel-heading">Key Details</div>
                <div class="panel-body">
                  <p><strong>Duration:</strong> {{ page.duration }}</p>
                  <p><strong>Delivery:</strong> {{ page.delivery }}</p>
                  <p><strong>Next Batch:</strong> {{ page.batch_date }}</p>
                </div>
              </div>
            </div>
    
            <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">Program Highlights</div>
                <ul class="list-group">
                  {% for item in page.highlights %}
                  <li class="list-group-item">{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default curriculum-section">
            <div class="panel-heading">Curriculum</div>
            <div class="panel-body">
              <div class="row">
                {% for item in page.curriculum %}
                <div class="col-md-4">
                  <div class="media">
                    <div class="media-left">
                      <span class="glyphicon glyphicon-certificate"></span>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{ item }}</h4>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- Add more sections similarly -->
        </div>
      </div>
    </div>
  </div>

 