---
layout: default
title: Data+AI Academy Course Detail
---
  
  <div class="container">
      <!-- Hero Section -->
      <div class="hero">
          <img
              src="{{ page.image | relative_url }}"
              alt="{{ page.title }}"
              class="hero-image"
          />
          <h1 class="hero-title">{{ page.title }}</h1>
          <p class="hero-subtitle">{{ page.subtitle }}</p>
      </div>
      
      <div class="interested-container">
        <a href="{{ site.g_form }}" target="_blank" class="btn-get-interested">I'm Interested</a>
    </div>

    
      <!-- Course Details Section -->
      <div class="course-details">
          <!-- <h2>Description</h2>
          <p>{{ page.description }}</p> -->
  
          <h2>Bootcamp Highlights</h2>
          <ul class="course-list">
              {% for highlight in page.highlights %}
              <li>{{ highlight }}</li>
              {% endfor %}
          </ul>
  
          <h2>Who Can Attend?</h2>
          <ul class="course-list">
              {% for item in page.who_can_attend %}
              <li>{{ item }}</li>
              {% endfor %}
          </ul>
  
          <h2>Why Attend?</h2>
          <ul class="course-list">
              {% for reason in page.why_attend %}
              <li>{{ reason }}</li>
              {% endfor %}
          </ul>

          <h2>Why Data+AI Academy?</h2>
          <ul class="course-list">
              {% for reason in page.why_data_ai_academy %}
              <li>{{ reason }}</li>
              {% endfor %}
          </ul>

          <h2>Duration Delivery</h2>
          <ul class="course-list">
              {% for reason in page.duration_delivery %}
              <li>{{ reason }}</li>
              {% endfor %}
          </ul>

          <div class="upcoming-batches">
            <h2>Upcoming Batches</h2>
            <p>{{ page.upcoming_batches.start_date }}</p>
        </div>
      </div>
      <!-- Upcoming Batches Section -->
    
  </div>
  