---
layout: default
title: Data+AI Academy Courses
---

  <div class="course-listing">
    <div class="container courses-container">
      <h1 class="title">Data+AI Academy Courses</h1>
      <div class="card-grid">
        {% assign sorted_courses = site.courses | sort: "weight" %}
          {% for course in sorted_courses %}
          <div class="card">
              <img
                  src="{{ course.image | relative_url }}"
                  alt="{{ course.title }}"
                  class="card-image"
              />
              <div class="card-content">
                  <h2 class="card-title">{{ course.title }}</h2>
                  <p class="card-subtitle">{{ course.subtitle }}</p>
                  <a href="{{ course.url | relative_url }}" class="card-link">Learn more →</a>
              </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>